{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Welcome to Symfony Flex!</h1>
    <p>
        This is a <a href="https://symfony.com">Symfony</a> application created with <a href="https://flex.symfony.com">Symfony Flex</a>.
    </p>
{% endblock %}
